#videobackground .gradient {
    background: -moz-linear-gradient(45deg, rgba(39, 240, 106, 0.6), rgba(247, 8, 227, 0.69) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(8, 184, 253, 0.6), rgba(247, 10, 30, 0.69) 100%);
    background: linear-gradient(45deg, #81fbb8, #28c76f 100%);
}

#videobackground .gradient1 {
    background: -moz-linear-gradient(45deg, rgba(39, 240, 106, 0.6), rgba(247, 8, 227, 0.69) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(8, 184, 253, 0.6), rgba(247, 10, 30, 0.69) 100%);
    background: linear-gradient(45deg,  #90f7ec, #32ccbc 100%);
}
    
#videobackground .view video {
top: 0!important;
left: 0!important;
transform: none!important;
height: 100vh;
}