.form{
    text-align: center;
    width: 50%;
    margin: 12vw auto;
}
.input{
    padding-left: 20vw;
}
.imgcontainer{
    text-align: center;
}
.title{
    font-size: 3vw;
}
/* .navbar{
    background-color: #92ffc0;
} */

.all {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 5vw 30vw 30vw;
  }

.btn-login{
    width: 30%;
}
